.challenge{
    margin-top: 5rem;
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    gap:4rem;
    justify-content: center;
}
.challenge .contain{
    flex-direction:column;
    padding:0;
    gap:0;
}
.line1{
    margin:0 1rem;
    margin-top: 1rem;
    display:flex;
    background-color: orange;
    flex-grow:1;
}
.line2{
    display:flex;
    background-color: orange;
    flex-grow:3;
    margin:0 6rem;
    justify-content: center;
    flex-direction:column;
}
.line3{
    display:flex;
    background-color: orange;
    flex-grow:1;
    margin:0 1rem;
    margin-bottom: 1rem;
}
