.TP4_5{
    margin-top: 5rem;
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    gap:4rem;
    justify-content: center;
}
.b1{
    position:absolute;
    width: 7rem;
    height: 7rem;
    left: -25%;
    top:25%;
    background-color: orange;
}
.b2{
    position:absolute;
    width: 7rem;
    height: 7rem;
    left: 25%;
    bottom:-25%;
    background-color: orange;
}